<StackLayout>
  <Image
    *ngIf="!taskCompletedModel.processCompleted && !taskCompletedModel.processCanceled"
    src="~/assets/images/completed-green.png"
    class="image"
  ></Image>
  <Image
    *ngIf="taskCompletedModel.processCompleted"
    src="~/assets/images/completed-green.png"
    class="image"
  ></Image>
  <Image
    *ngIf="taskCompletedModel.processCanceled"
    src="~/assets/images/cancel.jpg"
    class="image"
  ></Image>


  <Label
    *ngIf="!taskCompletedModel.processCompleted && !taskCompletedModel.processCanceled"
    text="Congrats!"
    textAlignment="center"
    class="congrats-text"
  ></Label>
  <Label
    *ngIf="taskCompletedModel.processCompleted"
    text="That's it!"
    textAlignment="center"
    class="congrats-text"
  ></Label>
  <Label
    *ngIf="taskCompletedModel.processCanceled"
    text="Done!"
    textAlignment="center"
    class="congrats-text"
  ></Label>


  <Label
    *ngIf="!taskCompletedModel.processCompleted && !taskCompletedModel.processCanceled"
    text="Task Completed!"
    textAlignment="center"
  ></Label>
  <Label
    *ngIf="taskCompletedModel.processCompleted"
    text="The process with all tasks are now completed!"
    textAlignment="center"
  ></Label>
  <Label
    *ngIf="taskCompletedModel.processCanceled"
    text="The process is canceled."
    textAlignment="center"
  ></Label>


  <ng-container *ngIf="!taskCompletedModel.processCompleted && !taskCompletedModel.processCanceled">
    <StackLayout class="next-task-info-wrapper">

      <!-- <h5>Next task is</h5>
      <a
        class="next-task"
        [routerLink]="['/EditTask/' + taskCompletedModel.processId + '/' + taskCompletedModel.processInstanceId + '/'+ taskCompletedModel.taskInstanceId]"
      >{{taskCompletedModel.taskName}}</a>
      <h5 class="assigned-to-label">Assigned to </h5>
      <h2 class="assigned-to">{{taskCompletedModel.assigneeName}}</h2> -->

      <Label
        text="Next task"
        textAlignment="center"
      ></Label>
      <!-- <Label
        [text]="taskCompletedModel.taskName"
        [routerLink]="['/EditTask/' + taskCompletedModel.processId + '/' + taskCompletedModel.processInstanceId + '/'+ taskCompletedModel.taskInstanceId]"
      ></Label> -->
      <Label
        class="new-task-name"
        textAlignment="center"
        textWrap="true"
        [nsRouterLink]="['/EditTask/' + taskCompletedModel.processId + '/' + taskCompletedModel.processInstanceId + '/'+ taskCompletedModel.taskInstanceId]"
      >


        <FormattedString>
          <Span
            [text]="taskCompletedModel.taskName"
          ></Span>
          <Span text="&nbsp;" ></Span>
          <Span
            class="fas"
            text="&#xf138;"
          ></Span>
        </FormattedString>





      </Label>

      <Label
        text="Assigned to"
        textAlignment="center"
      ></Label>
      <Label
      class="assignee-name"
        [text]="taskCompletedModel.assigneeName"
        textAlignment="center"
      ></Label>

    </StackLayout>

  </ng-container>



</StackLayout>
