<app-process-item-settings
  [process]="process"
  #itemSettings
>
</app-process-item-settings>

<div class="designer-wrapper">
  <div class="header">
    <div class="title">
      Process Builder: <b>New head count request</b>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="addItem()"
    >
      New Step
      <!-- state event state
          state decision state
          state event action state
          state event action decison state
          stoppropagation as directive
          select by drawing a box -->
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="addCondition()"
    >
      New Condition
    </button>
  </div>
  <div
    #thebox
    id="the-box"
    class="box"
    (click)="clickBox()"
  >
    <div
      class="inner-box"
      *ngIf="this.process.processItems | async; let processItems "
    >

      <svg
        width="100"
        height="100"
        style="overflow: visible"
      >

        <defs>
          <marker
            id="arrow-end"
            markerWidth="2"
            markerHeight="2"
            refX="12"
            refY="1"
            orient="auto"
            markerUnits="strokeWidth"
          >
            <path
              d="M0,0 L0,2 L1,1 z"
              fill="white"
            ></path>
          </marker>
        </defs>

        <line
          *ngIf="isLinkBeingCreated"
          stroke-width="10"
          [attr.x1]="lineCreationStartX"
          [attr.y1]="lineCreationStartY"
          [attr.x2]="lineCreationEndX"
          [attr.y2]="lineCreationEndY"
          stroke="green"
          marker-end="url(#arrow-end)"
        />

        <line
          *ngFor="let link of links"
          class="connector"
          stroke-width="10"
          [attr.x1]="link.startItem.visualState.middleX"
          [attr.y1]="link.startItem.visualState.middleY"
          [attr.x2]="link.endItem.visualState.middleX"
          [attr.y2]="link.endItem.visualState.middleY"
          [attr.stroke]="link.color"
          marker-end="url(#arrow-end)"
          (mouseenter)="mouseEnter(link.startItem.visualState.middleX) "
        >
        </line>

      </svg>

      <!-- angular confuses types, .array error can be ignored -->
      <app-process-item
        appClickStopPropagation
        *ngFor="let processItem of processItems.array"
        (linkCreated)="startLinkProcess($event)"
        [processItem]="processItem"
        [style.left.px]="processItem.leftPx"
        [style.top.px]="processItem.topPx"
        (mousedown)="onProcessItemMouseDown(processItem, $event)"
        (settingDialogueOpening)="openSettingDialogue($event)"
      >
      </app-process-item>
    </div>
  </div>
</div>
