<div *ngIf="processItem.constructor.name== 'ProcessItem'" class="state-box noselect" [ngClass]="{
    'selected': processItem.isSelected,
    'not-selected': !processItem.isSelected
  }">
  <div class="create-link-button" (click)="createLink($event)" (mousedown)="mousedown($event)">
    <i class="fas fa-long-arrow-alt-up"></i>
  </div>
  <div class="settings-button" (click)="openSettings($event)" (mousedown)="mousedown($event)">
    <i class="fas fa-wrench"></i>
  </div>
  <div>process-item works! {{processItem.text}} </div>
</div>

<div class="settings-modal" *ngIf="isSettingsVisible">
  <app-process-item-settings [processItem]="processItem"></app-process-item-settings>
</div>


<div *ngIf="processItem.constructor.name== 'ConditionItem'" class="condition-box noselect" [ngClass]="{
  'selected': processItem.isSelected,
  'not-selected': !processItem.isSelected
}">
  <div class="create-link-button" (click)="createLink($event)" (mousedown)="mousedown($event)">
    <i class="fas fa-long-arrow-alt-up"></i>
  </div>
  <div class="settings-button" (click)="openSettings($event)" (mousedown)="mousedown($event)">
    <i class="fas fa-wrench"></i>
  </div>
  <div class="condition-content">
    the Cond
  </div>
</div>
