<div class="fields-settings">



  <div class="form-setting-mode">

    <div class="field-edit-title">
      Fields in this Step <i
        class="fas fa-info-circle"
        matTooltip="Fields that are shown to the editor of this step."
      ></i>
    </div>

    <div
      class="form-designer-empty-content"
      *ngIf="renderingFieldsInStep.length == 0"
    >
      This step doesn't contain any field.
    </div>
    <div
      class="field-form"
      fxLayout="row"
      *ngFor="let fieldInStep of renderingFieldsInStep; let i=index"
    >

      <div class="field-number">
        <div>{{i+1}}</div>
      </div>

      <div
        class="field-name-in-list"
        fxLayout="column"
      >
        <span class="field-name-span">{{fieldInStep.field.name}}</span>
        <span class="field-type">{{fieldInStep.field.fieldType?.name}}</span>
      </div>

      <div>
        <mat-button-toggle-group
          *ngIf="fieldInStep.editableFieldUsedInAnotherStep"
          [(ngModel)]="fieldInStep.readOnly"
          [vertical]="true"
          (change)="fieldInStepReadOnlyChanged()"
        >
          <mat-button-toggle [value]="false">Editable</mat-button-toggle>
          <mat-button-toggle [value]="true">Read Only</mat-button-toggle>
        </mat-button-toggle-group>
        <div *ngIf="!fieldInStep.editableFieldUsedInAnotherStep">
          read only toggle removed
        </div>
      </div>

      <div fxLayout="row">

        <button
          mat-button
          class="setting-button"
          (click)="removeFieldInStep(fieldInStep)"
        >
          <i class="fas fa-trash-alt"></i>
        </button>

        <button
          mat-button
          class="setting-button"
          (click)="openFieldEditViewForExistingField(fieldInStep)"
          [disabled]="fieldInStep.readOnly && fieldInStep != currentFieldInStep"
        >
          <i
            matBadge="!"
            matBadgeColor="warn"
            matBadgePosition="before"
            class="fas fa-pencil-alt"
            [ngClass]="{
              'field-selected': fieldInStep == currentFieldInStep,
              'field-selection-disabled': fieldInStep != currentFieldInStep && fieldInStep.readOnly}"
          ></i>
        </button>

      </div>

    </div>

    <div
      class="new-field-wrapper"
      fxLayout="column"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="openFieldEditViewForNewField()"
      >
        <i class="fas fa-plus"></i> Create a New Field
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openAddExistingFieldView()"
      >
        <i class="fas fa-plus"></i> Use an Existing Field <i
          class="fas fa-info-circle"
          matTooltip="Include a field you created in another step."
        ></i>
      </button>
    </div>

  </div>

</div>
