<div style="width:500px">
  <ng-container [ngSwitch]="field.fieldType">

    <app-date-field
      *ngSwitchCase="'Date'"
      [field]="field"
    ></app-date-field>

    <app-text-field
      *ngSwitchCase="'Text'"
      [field]="field"
    ></app-text-field>

    <div class="error-message-wrapper">
      <div *ngIf="field.formControl.errors?.required">
        This field is required.
      </div>

      <!-- touched: {{field.formControl.touched}} <br /> -->
      <!-- <div *ngIf="field.formControl.invalid && field.formControl.dirty "> -->
      <!-- <div>
        {{field.formControl.errors | json }}
        <br />
        <br />


        dirty:{{field.formControl.dirty}}, disabled: {{field.formControl.disabled}}, enabled:
        {{field.formControl.enabled}}, invalid:{{field.formControl.invalid}}, pristine: {{field.formControl.pristine}},
        touched: {{field.formControl.touched}}, valid:{{field.formControl.valid}}

      </div> -->
    </div>

  </ng-container>

</div>
