<div
  fxLayout="column"
  fxLayoutAlign="center center"
>

  <div style="width: 500px;">

    <div class="title">Start a new process</div>
    <div
      class="process-box"
      *ngFor="let process of processes"
    >
      <a
        class="process-link"
        [routerLink]="['/NewProcess/' + process.ProcessId]"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="process-name-wrapper"
        >
          <div
            class="process-icon"
            fxLayoutAlign="center center"
            [style.background-color]="process.Visuals.IconColor"
          >
            <div> {{process.Visuals.Initials}}</div>
          </div>
          <div class="process-name">
            Start <b>{{process.ProcessName}}</b>
          </div>

        </div>

      </a>
    </div>

  </div>

</div>
