<div class="designer-wrapper">
  <div class="title">
    Process Builder: <b>New head count request</b>
  </div>
  <button (click)="addItem()">
    Add step
    <!-- state event state
        state decision state
        state event action state
        state event action decison state
        stoppropagation as directive
        select by drawing a box -->
    </button>
  <div #thebox id="the-box" class="box" (click)="clickBox()">
    <div class="inner-box">

      <svg width="100" height="100" style="overflow: visible">

        <defs>
          <marker id="arrow-end" markerWidth="2" markerHeight="2" refX="12" refY="1" orient="auto"
            markerUnits="strokeWidth">
            <path d="M0,0 L0,2 L1,1 z" fill="white"></path>
          </marker>
        </defs>
        <line *ngIf="isLinkBeingCreated" stroke-width="8" [attr.x1]="lineCreationStartX" [attr.y1]="lineCreationStartY"
          [attr.x2]="lineCreationEndX" [attr.y2]="lineCreationEndY" stroke="tomato" marker-end="url(#arrow-end)" />

        <line *ngFor="let link of links" stroke-width="8" [attr.x1]="link.startItem.middleX" (click)="x('sdf')"
          [attr.y1]="link.startItem.middleY" [attr.x2]="link.endItem.middleX" [attr.y2]="link.endItem.middleY"
          stroke="tomato" marker-end="url(#arrow-end)" />
      </svg>
      <app-process-item *ngFor="let processItem of processItems" (linkCreated)="startLinkProcess($event)" [processItem]="processItem"
        [style.left.px]="processItem.leftPx" [style.top.px]="processItem.topPx"
        (mouseenter)="mouseover(true, processItem)" (mouseleave)="mouseover(false, processItem)"
        (mousedown)="mousedown(processItem, $event)" (click)="clickItem($event, processItem)">
      </app-process-item>
    </div>
  </div>
</div>
