using System;
using bpmist.common.Commands;

namespace [InterfaceNameSpace]
{
    public interface I[CommandName][Command_Query] : ICommand<[CommandName]Parameter, [CommandName]Result>
    {
    }

    public class [CommandName]Parameter
    {
        public [CommandName]Parameter(
            [ParameterConstructorParameters]
            )
        {
[ParameterPropertyAssignments]
        }

[ParameterProperties]
    }

[ResultClass]
}
