using Microsoft.Extensions.DependencyInjection;
using System;

namespace API
{
    public static class BpmistServiceCollectionExtensions
    {
        public static void AddBpmistServices(this IServiceCollection services)
        {
[ServiceMappings]
        }
    }
}