<div
  class="edit-task-wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    *ngIf="taskModel && !showCompletedMessage"
    class="edit-task-content"
  >
    <div class="process-title-header">
      process
      <i class="fa fa-info-circle"></i></div>
    <div class="process-title">{{taskModel.processName}}&nbsp;</div>
    <div class="task-title-header">
      <div *ngIf="taskModel.assignmentStates.assignedToCurrentUser">
        your task<i class="fa fa-info-circle"></i>
      </div>
      <div *ngIf="taskModel.assignmentStates.assignedToGroup">
        {{taskModel.assigneeName}} will work on
      </div>
      <div *ngIf="taskModel.assignmentStates.assignedToAnotherUser">
        {{taskModel.assigneeName}} is working on
      </div>
      <div *ngIf="taskModel.taskState == 'Completed' || taskModel.taskState == 'Canceled'">
        task
      </div>

    </div>
    <div class="task-title">{{taskModel.title}}</div>
    <div
      *ngIf="taskModel.taskState == 'Canceled'"
      class="centered-text"
    >
      Cancelled by <b>{{taskModel.assigneeName}}</b>
    </div>
    <div
      *ngIf="taskModel.taskState == 'Completed'"
      class="centered-text"
    >
      Completed by <b>{{taskModel.assigneeName}}</b>
    </div>
    <div
      class="centered-text"
      *ngIf="taskModel.assignmentStates.assignedToCurrentUsersGroup"
    >
      You are in {{taskModel.assigneeName}} group.
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="pullTask()"
      >
        Work on this?
      </button>
    </div>

    <div class="detail-textbox">
      <ejs-textbox
        placeholder="Any notes?"
        floatLabelType="Always"
        [multiline]='true'
        cssClass="e-outline"
        [(value)]='taskModel.details'
      ></ejs-textbox>
    </div>

    <div>
      <app-form
        #appForm
        [form]="taskModel.form"
      ></app-form>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >

      <div
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <button
          *ngFor="let action of taskModel.secondaryActions"
          (click)="submit(action.ActionId)"
          fxLayoutAlign="start center"
          mat-button
          mat-raised-button
          [disabled]="!taskModel.assignmentStates.assignedToCurrentUser"
          style="margin-right:10px"
        >
          {{action.ActionText}}
        </button>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <button
          *ngFor="let action of taskModel.warnedActions"
          (click)="submit(action.ActionId)"
          fxLayoutAlign="start center"
          mat-button
          mat-raised-button
          color="warn"
          [disabled]="!taskModel.assignmentStates.assignedToCurrentUser"
          style="margin-left:10px"
        >
          {{action.ActionText}}
        </button>

        <button
          *ngFor="let action of taskModel.primaryActions"
          (click)="submit(action.ActionId)"
          fxLayoutAlign="start center"
          mat-button
          mat-raised-button
          color="primary"
          [disabled]="!taskModel.assignmentStates.assignedToCurrentUser"
          style="margin-left:10px"
        >
          {{action.ActionText}}
        </button>
      </div>

    </div>

    <ng-container *ngIf="taskModel.otherTasks.length > 1">
      <div class="task-history">
        <div
          style="text-align: center;    text-decoration: underline; cursor:pointer;"
          (click)="showAllOtherTasks()"
        >
          <ng-container *ngIf="!otherTasksShown">Show all other tasks</ng-container>
          <ng-container *ngIf="otherTasksShown">Hide other tasks</ng-container>

        </div>

        <ng-container *ngIf="otherTasksShown">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            style="margin-top:20px;"
            *ngFor="let otherTask of taskModel.otherTasks"
            [ngStyle]="{'font-style': (otherTask.TaskInstanceId == taskModel.taskInstanceId) ? 'italic' : 'normal'}"
          >
            <div>
              <div style="font-size: 24px; font-weight: bold;;">
                {{otherTask.TaskName}}
              </div>
            </div>
            <div
              fxLayout="column"
              style="text-align: right;"
            >
              <div>
                <ng-container *ngIf="otherTask.TaskState == 'Completed'">Completed by</ng-container>
                <ng-container *ngIf="otherTask.TaskState == 'Canceled'">Cancelled by</ng-container>
                <ng-container *ngIf="otherTask.TaskState == 'Active'">In progress</ng-container>
                <ng-container *ngIf="otherTask.TaskState == 'Waiting'">Will be handled by</ng-container>
              </div>
              <div style="font-size: 18px; font-weight: bold;">
                {{otherTask.AssingedName}}
              </div>
              <div style="font-size: 12px;">
                {{otherTask.CompletedTime | _dateTime}}
              </div>
            </div>

          </div>
        </ng-container>
      </div>

    </ng-container>




  </div>

  <div
    *ngIf="showCompletedMessage"
    style="width: 500px;"
  >
    <app-task-completed [taskCompletedModel]="taskCompletedModel"></app-task-completed>
  </div>

</div>
