<div
  class="edit-task-wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    *ngIf="taskModel && !showCompletedMessage"
    class="edit-task-content"
  >
    <div class="process-title-header">
      process
      <i class="fa fa-info-circle"></i></div>
    <div class="process-title">{{taskModel.processName}}&nbsp;</div>
    <div class="task-title-header">
      <div *ngIf="taskModel.assignmentStates.assignedToCurrentUser">
        your task<i class="fa fa-info-circle"></i>
      </div>
      <div *ngIf="taskModel.assignmentStates.assignedToGroup">
        {{taskModel.assigneeName}} will work on
      </div>
      <div *ngIf="taskModel.assignmentStates.assignedToAnotherUser">
        {{taskModel.assigneeName}} is working on
      </div>

    </div>
    <div class="task-title">{{taskModel.title}}&nbsp;</div>

    <div
      class="centered-text"
      *ngIf="taskModel.assignmentStates.assignedToCurrentUsersGroup"
    >
      You are in {{taskModel.assigneeName}} group.
      <button
        mat-button
        mat-raised-button
        color="primary"
      >
        Work on this?
      </button>
    </div>

    <div class="detail-textbox">
      <ejs-textbox
        placeholder="Any notes?"
        floatLabelType="Always"
        [multiline]='true'
        cssClass="e-outline"
        [(value)]='taskModel.details'
      ></ejs-textbox>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="end center"
    >

      <button
        *ngFor="let action of taskModel.actions"
        (click)="submit(action.ActionId)"
        fxLayoutAlign="start center"
        mat-button
        mat-raised-button
        color="primary"
        [disabled]="!taskModel.assignmentStates.assignedToCurrentUser"
      >
        {{action.ActionText}}
      </button>
    </div>

  </div>

  <div
    *ngIf="showCompletedMessage"
    style="width: 500px;"
  >
    <app-task-completed [taskCompletedModel]="taskCompletedModel"></app-task-completed>
  </div>

</div>
