<div
  class="edit-task-wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    *ngIf="taskModel && !showCompletedMessage"
    class="edit-task-content"
  >
    <div class="process-title-header">
      process
      <i class="fa fa-info-circle"></i></div>
    <div class="process-title">{{taskModel.processName}}</div>
    <div class="task-title-header">your task<i class="fa fa-info-circle"></i></div>
    <div class="task-title">{{taskModel.title}}</div>

    <div class="detail-textbox">
      <ejs-textbox
        placeholder="Any notes?"
        floatLabelType="Always"
        [multiline]='true'
        cssClass="e-outline"
        [(value)]='taskModel.details'
      ></ejs-textbox>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="end center"
    >

      <button
        *ngFor="let action of taskModel.actions"
        (click)="submit(action.ActionId)"
        fxLayoutAlign="start center"
        mat-button
        mat-raised-button
        color="primary"
      >
        {{action.ActionText}}
      </button>
    </div>

  </div>

  <div
    *ngIf="showCompletedMessage"
    style="width: 500px;"
  >
    <app-task-completed [taskCompletedModel]="taskCompletedModel"></app-task-completed>
  </div>

</div>
