<div
  fxLayout="column"
  *ngIf="process && processItem "
>

  <ejs-dropdownlist
    style="margin-top:22px"
    placeholder=""
    name="whoToAssign"
    [dataSource]='showingResponsibleTypes'
    [ngModel]="stepItem?.responsible?.responsibleType?.code"
    [fields]="{value:'code', text:'name' }"
    (change)='stepItem.responsible.responsibleType = $event.itemData; '
    [allowFiltering]='false'
    cssClass="e-outline"
    floatLabelType="Never"
    popupHeight='500px'
  >

    <ng-template
      #itemTemplate=""
      let-data=""
    >

      <span *ngIf="data.visualState.enabled">{{data.name}}</span>
      <span *ngIf="!data.visualState.enabled"><span style="text-decoration: line-through;">{{data.name}}</span>
        <span> [No field exists]</span></span>

    </ng-template>

    <ng-template
      #footerTemplate=""
      let-data=""
    >

      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        style="height: 30px;"
        *ngIf="stepItem?.responsible?.visualState.show_ShowHideAdvancedOptions"
      >

        <div
          style="
                        text-decoration: underline;
                        cursor:pointer;
                        transform: translateX(-4px);"
          (click)='showAdvancedResponsibleTypes = !showAdvancedResponsibleTypes'
        >

          <ng-container *ngIf="showAdvancedResponsibleTypes">Hide advanced options</ng-container>
          <ng-container *ngIf="!showAdvancedResponsibleTypes">Show advanced options</ng-container>

        </div>
      </div>

    </ng-template>
  </ejs-dropdownlist>


  <div
    *ngIf="stepItem.responsible.visualState.isTypeGroup"
    fxLayout="column"
  >

    <ejs-dropdownlist
      class="detailed-settings-item-wrapper"
      placeholder="Group"
      name="group"
      [dataSource]='groups'
      [ngModel]="stepItem?.responsible?.group?.groupId"
      [fields]="{value:'groupId', text:'groupName' }"
      (change)='stepItem.responsible.group = $event.itemData; '
      [allowFiltering]='true'
      [ignoreAccent]='true'
      filterBarPlaceholder='Search'
      cssClass="e-outline detailed-settings-item-wrapper"
      marks
      and
      floatLabelType="Always"
    >
    </ejs-dropdownlist>

  </div>

  <div *ngIf="stepItem.responsible.visualState.isTypeUser">

    <ejs-dropdownlist
      style="margin-top:22px"
      placeholder="User"
      name="user"
      [dataSource]='users'
      [ngModel]="stepItem?.responsible?.user?.userId"
      [fields]="{value:'userId', text:'userName' }"
      (change)='stepItem.responsible.user = $event.itemData; '
      [allowFiltering]='true'
      [ignoreAccent]='true'
      filterBarPlaceholder='Search'
      cssClass="e-outline"
      floatLabelType="Always"
    >
    </ejs-dropdownlist>

  </div>

  <div *ngIf="stepItem.responsible.visualState.isTypeGroupList">
    <ejs-multiselect
      #groupsMultiselect
      style="margin-top:22px"
      placeholder="Groups"
      name="groups"
      [dataSource]='groups'
      [fields]="{ text: 'groupName', value: 'groupId' }"
      mode='Box'
      [showDropDownIcon]='true'
      [closePopupOnSelect]="false"
      filterBarPlaceholder='Search'
      cssClass="e-outline"
      floatLabelType="Always"
      [allowFiltering]='true'
      [ignoreAccent]='true'
      [(value)]="selectedGroupIds"
    ></ejs-multiselect>

  </div>

  <div *ngIf="stepItem.responsible.visualState.isTypeUserList">

    <ejs-multiselect
      style="margin-top:22px"
      placeholder="Users"
      name="users"
      [dataSource]='users'
      [fields]="{ text: 'userName', value: 'userId' }"
      mode='Box'
      [showDropDownIcon]='true'
      filterBarPlaceholder='Search'
      cssClass="e-outline"
      floatLabelType="Always"
      [allowFiltering]='true'
      [ignoreAccent]='true'
      (change)="assignMultiselectValues(stepItem.responsible, 'users', 'userId', users, $event.value, $event);"
      [(ngModel)]="selectedUserIds"
    ></ejs-multiselect>

  </div>

  <div *ngIf="stepItem.responsible.visualState.isTypeUserFromField">

    <ejs-dropdownlist
      style="margin-top:22px"
      placeholder="User Field"
      name="userField"
      [dataSource]='process.userTypeFields'
      [ngModel]="stepItem?.responsible?.userField?.id"
      [fields]="{value:'id', text:'name' }"
      (change)='stepItem.responsible.userField = $event.itemData; '
      [allowFiltering]='true'
      [ignoreAccent]='true'
      filterBarPlaceholder='Search'
      cssClass="e-outline"
      floatLabelType="Always"
    >
    </ejs-dropdownlist>

  </div>

  <div *ngIf="stepItem.responsible.visualState.showGroupAssignOptions">

    <div
      class="detailed-settings-item-wrapper"
      style="
                            font-size: 12px;
                            margin-left: 9px;
                            line-height: 1em;
                            color: #777;
                            transform: translateY(2px);
                            background-color: white;
                            padding-left: 5px;
                            display: inline-block;
                            width: 106px;"
    >How to distribute?</div>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="stepItem.responsible.groupAssignOption = $event.option.value"
    >
      <mat-list-option
        *ngFor="let groupAssignOption of groupAssignOptions"
        [value]="groupAssignOption"
        [selected]="groupAssignOption.optionCode === stepItem?.responsible?.groupAssignOption?.optionCode"
        [matTooltip]="groupAssignOption.optionTooltip"
      >

        <div style="vertical-align: middle;height: 100%;">{{groupAssignOption.optionText}}</div>

      </mat-list-option>

    </mat-selection-list>
  </div>

</div>
