.settings-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* padding-top: 100px; */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.main-container {
  display: flex;
  flex-direction: row;

  margin-top: min(100px, 10vh);
  width: 1500px;

  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.left-part {
  /* background-color: yellow; */
  width: 500px;
  height: 500px;
  padding: 10px;
}

.right-part {
  /* background-color: blue; */
  width: 500px;
  height: 500px;
  padding: 10px;
}

.form-wrapper {
  width: 540px;
  min-height: 200px;
  padding: 10px;
  background-color: white;
}

.close-button {
  margin: 5px;
}

.clickable {
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: 3px solid currentColor !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border: 3px solid currentColor !important;
}

.mat-selection-list {
  padding-top: 0px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.12);
}
