<div
  *ngIf="visible && process != null && processItem != null"
  class="settings-modal"
>

  <div class="main-container">

    <div class="left-part">
      <span>left part</span>
    </div>

    <div class="form-wrapper">
      <div
        fxLayout="row"
        fxLayoutAlign="end none"
      >
        <i
          (click)="close()"
          class="fas fa-times close-button clickable"
        ></i>
      </div>
      <div>

        <ejs-dropdownlist
          [dataSource]='processItems'
          [fields]="{ value:'id' }"
          (change)='processItem = $event.itemData; onProcessItemChange();'
          [ngModel]="processItem?.id"
          name="processItemPicker"
          cssClass="e-outline"
        >
          <ng-template
            #itemTemplate
            let-data
          >
            <span *ngIf="$any(data).constructor.name== 'StepItem'">
              Step:
            </span>
            <span *ngIf="$any(data).constructor.name== 'ConditionItem'">
              Condition:
            </span>
            <span>{{data.text}}</span>
          </ng-template>
          <ng-template
            #valueTemplate
            let-data
          >
            <div
              fxLayoutAlign="center center"
              style="font-weight: bold; font-size: 18px; height: 50px;"
            >
              <span *ngIf="$any(data).constructor.name== 'StepItem'">
                Step:
              </span>
              <span *ngIf="$any(data).constructor.name== 'ConditionItem'">
                Condition:
              </span>
              <span>{{data.text}}</span>
            </div>
          </ng-template>

        </ejs-dropdownlist>



      </div>

      <div [ngSwitch]="$any(processItem).constructor.name">

        <ng-container *ngSwitchCase=" 'StepItem'">

          <mat-tab-group
            class="step-settings-tab"
            (selectedTabChange)="onStepItemSettingsTabChanged($event)"
          >

            <mat-tab label="Responsible">


              <app-responsible
                [process]="process"
                [processItem]="processItem"
              ></app-responsible>

            </mat-tab>

            <mat-tab label="Form">
              <ng-template mat-tab-label>
                Form
              </ng-template>
              <app-step-form-fields
                #stepFormFields
                [process]="process"
                [processItem]="processItem"
                [fieldTypes]="fieldTypes"
                (currentFieldChanged)="currentFieldChanged($event)"
              ></app-step-form-fields>
            </mat-tab>
            <mat-tab label="Actions">
              <p>this action goes to this step</p>
              <p>this action ends the process</p>
              <p>python script to arrange data</p>
              <p>web service call</p>
              <p>(for future)-> save/update data to database</p>
            </mat-tab>

            <mat-tab label="Notifications"> Notification will be configured here. </mat-tab>
            <mat-tab label="Docs"> Documents will be edited here. </mat-tab>

          </mat-tab-group>

        </ng-container>

      </div>

    </div>


    <div class="right-part">
      <app-field-definition-editor
        #fieldDefinitionEditor
        [fieldTypes]="fieldTypes"
      ></app-field-definition-editor>

    </div>


  </div>


</div>
