.my-inbox-label {
  font-weight: bold;
  font-size: 40px;
  margin-top: 60px;
  text-align: center;
}

.no-task-message {
  margin-top: 20px;
}

.task-success-icon {
  font-size: 36px;
  color: green;
  margin-right: 12px;
}

.task-item {
  border-bottom: 1px solid gray;
  margin-top: 20px;
  cursor: pointer;
}

.task-title {
  font-size: 30px;
  font-weight: bold;
}

.process-title {
  font-size: 18px;
}

.due-day-value {
  font-size: 18px;
}

.past-due-date {
  color: red;
}

.due-date-column {
  text-align: right;
}

.group-name {
  font-size: 18px;
}

.group-name-group-label {
  font-weight: normal;
}
