/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css"; */
@import "material-ui.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* formly mat checkbox's border when hovered is pink for indigo pink material theme, it should be blue like others */
.mat-form-field-appearance-outline.mat-focused.mat-accent
  .mat-form-field-outline-thick {
  color: #3f51b5;
}

/* formly mat checkbox in mat form field normally takes more space verically, this is an effort to align it with other types of controls */
/* .mat-checkbox-layout .mat-checkbox-label {
  line-height: 14px;
}
.mat-checkbox-layout {
  margin-top: -4px;
} */

.step-settings-tab .mat-tab-labels {
  display: block;
  text-align: center;
}

.step-setting-tab [aria-selected="true"] .active-button {
  display: block;
}

.step-setting-tab [aria-selected="false"] .non-active-button {
  display: block;
}

.step-settings-tab .mat-tab-label {
  padding: 0 13px !important;
  min-width: 10px !important;
}

/* .login::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
} */

/* .mat-selection-list .mat-list-single-selected-option .mat-list-text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}

mat-selection-list .mat-list-single-selected-option .mat-list-text {
  color: red;
  background-color: yellow;
} */

/* mat-selection-list .mat-list-single-selected-option .mat-list-text {
  color: green !important;
}

.mat-list-text {
  color: green;
} */

.mat-selection-list .mat-list-text {
  /* display: block !important; */
  flex-direction: row !important;
}

.mat-selection-list .mat-list-text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  visibility: hidden;
  color: green;
  margin-right: 3px;
}

.mat-selection-list .mat-list-single-selected-option .mat-list-text::before {
  visibility: visible;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: green !important;
}

.mat-list-item-content {
  padding-left: 4px !important;
}

.mat-list-base .mat-list-option {
  font-size: 14px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 38px !important;
}
