<div
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div style="width: 500px;">
    <div class="my-inbox-label">My Inbox</div>

    <div class="task-item">

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <div class="task-title">Approval</div>
          <div class="process-title">in <b>Holiday Request</b></div>
        </div>
        <div
          fxLayout="column"
          class="due-date-column"
        >
          <div>due in</div>
          <div class="due-day-value"><b>2 days</b></div>
        </div>
      </div>
    </div>
    <div class="task-item">

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <div class="task-title">Approval</div>
          <div class="process-title">in <b>Holiday Request</b></div>
        </div>
        <div
          fxLayout="column"
          class="due-date-column"
        >
          <div>due in</div>
          <div class="due-day-value"><b>2 days</b></div>
        </div>
      </div>
    </div>


    <div class="task-item">

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <div class="task-title">Approval</div>
          <div class="process-title">in <b>Holiday Request</b></div>
        </div>
        <div
          fxLayout="column"
          class="due-date-column"
        >
          <div>due in</div>
          <div class="due-day-value"><b>2 days</b></div>
        </div>
      </div>
    </div>
    <div class="task-item">

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <div class="task-title">Approval</div>
          <div class="process-title">in <b>Holiday Request</b></div>
        </div>
        <div
          fxLayout="column"
          class="due-date-column"
        >
          <div>due in</div>
          <div class="due-day-value"><b>2 days</b></div>
        </div>
      </div>
    </div>


  </div>
</div>
