<StackLayout
  style="padding: 0;margin:0;"
  *ngIf="field != null"
>

  <GridLayout
    *ngIf="field.isReadOnly == false"
    columns="*, 44"
    rows="*"
  >

    <TextField
      col="0"
      hint=""
      class="textBox"
      [text]='dateInText'
      [isUserInteractionEnabled]="false"
    >
    </TextField>

    <Label
      col="1"
      text="&#xf073;"
      class="fas button"
      (tap)="open()"
    ></Label>

  </GridLayout>

  <TextField
    *ngIf="field.isReadOnly == true"
    hint=""
    class="textBox read-only"
    [text]='dateInText'
    [isUserInteractionEnabled]="false"
  >
  </TextField>

</StackLayout>
