<StackLayout style="padding: 0;margin:0;">
  <RadDataForm
    #dataform
    [source]="model"
    commitMode="Immediate"
    tkExampleTitle
    tkToggleNavButton
    (editorUpdate)="onEditorUpdate($event)"
    (propertyCommitted)="propertyCommitted($event)"
  >

    <TKEntityProperty
      tkDataFormProperty
      name="value"
      [displayName]="field.visibleFieldName"
    >
      <TKPropertyEditor
        tkEntityPropertyEditor
        type="DatePicker"
      ></TKPropertyEditor>

    </TKEntityProperty>

  </RadDataForm>
</StackLayout>
